/* =========================
   FILTERS
========================= */

.resource-filters {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.resource-filters select {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
}

/* =========================
   SECTIONS
========================= */

.resource-section {
  margin-bottom: 15px;
}

.resource-section h3 {
  margin-bottom: 12px;
  font-size: 18px;
}

/* =========================
   GRID LAYOUT (PDFs)
========================= */

.resource-grid.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

/* =========================
   HORIZONTAL LAYOUT
========================= */

.resource-grid.horizontal {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 8px;
  scroll-snap-type: x mandatory;
}

.resource-grid.horizontal::-webkit-scrollbar {
  height: 2px;
}

.resource-grid.horizontal::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* =========================
   RESOURCE CARD
========================= */

.resource-card {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.resource-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* Grid cards */
.resource-card.grid {
  width: 100%;
}

/* Horizontal cards */
.resource-card.horizontal {
  min-width: 100px;
  max-width: 220px;
  scroll-snap-align: start;
}


/* =========================
   THUMBNAIL
========================= */

.resource-thumb {
  width: 100%;
  max-height: 100px;
  object-fit:contain;
  background: #f5f5f5;

}

.resource-card.horizontal .resource-thumb {
  height: 100px;
   object-fit:cover;
}

/* =========================
   CARD BODY
========================= */

.resource-body {
  padding: 1px 5px;
}

.resource-body h4 {
  font-size: 13px;
  margin: 0px;
  text-align:justify;
}

.resource-body p {
  font-size: 12px;
  color: #666;
  margin: 0;
}

/* =========================
   LOAD MORE
========================= */

.btn {
  margin: 20px auto;
  display: block;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  background: #1976d2;
  color: white;
  cursor: pointer;
}

/* =========================
   SHOW MORE
========================= */
.resource-toggle {
  text-align: center;
}

.toggle-btn {
  background: transparent;
  color: #1976d2;
  border: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}

.toggle-btn:hover {
  text-decoration: underline;
}
.toggle-btn:active ,
.toggle-btn:focus {
  border: none;
    outline: none;
  box-shadow: none;
}
