.donationForm {
  width: 400px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.formLabel {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  align-self: flex-start;
}

.required {
  color: red;
}

.inputWithImage {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 12px;
  background-color: #fff;
  margin: 10px 8px ;
  border-bottom: 1px solid #555; /* accent color on the left */

  box-shadow: 
    0 1px 2px rgba(0, 0, 0, 0.23);
}

.inputWithImage:focus-within {
  border-bottom-color: transparent;
}

.formInput {
  border: none;
  outline: none;
  border-radius: 0px;
  font-size: 14px;
  align-self: flex-start;
  width: 100%;
  padding: 8px 0;
  border-bottom: 2px solid transparent; /* bottom border for animation */
  transition: border-color 0.2s ease; /* animate color change */
  background-color: #fff;
  box-shadow: none;
}

/* Focus effect like Google Forms */
.formInput:focus {
  border-bottom-color: #1a73e8; /* primary accent color */
   box-shadow: none; /* REMOVE focus shadow */
}

.inputImage {
  width: 60px;
  height: 60px;
  margin-left: 12px;
  align-self: flex-end;


}

.submitBtn {
  margin-top: 16px;
  padding: 10px 20px;
  background-color: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.submitBtn:hover {
  background-color: #155ab6;
}
