.home-wrapper {
  background: #f8f3e1;
  font-family: "Merriweather", serif;
  padding: 20px;
}

.home-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}

/* HERO */
.hero-section {
  background-image: url("/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.45);
  padding: 40px;
  color: #fff;
  max-width: 600px;
  border-radius: 12px;
  margin-left: 50px;
}

.hero-title {
  font-size: 42px;
  font-weight: 700;
}

.hero-btn {
  background: #c77f33;
  border: none;
  padding: 12px 24px;
  color: white;
  border-radius: 8px;
  margin-top: 20px;
}

/* SECTION TITLES */
.home-section-title {
  font-size: 32px;
  letter-spacing: 1px;
  color: #6b3f1f;
  margin: 40px 0 20px;
  text-align: center;
}

.slider-section {
  width: 1200px;
}

.yatra-row{
    margin: 60px;
}

/* YOUTH CARDS */
.youth-cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding: 0 40px;
}

.card {
  background: #e8d2b9;
  width: 30%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* FLOATING WHATSAPP BUTTON */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: transform 0.2s ease;
}

.whatsapp-float:hover {
  transform: scale(1.08);
}

.whatsapp-float img {
  width: 35px;
  height: 35px;
  filter: brightness(0) invert(1);
}

@media (max-width: 480px) {

  .hero-section {
    height: fit-content;
    margin-top: 1rem;
  }
  .hero-overlay {
    margin: auto;
    height: 50vh;
  }
  .home-row {
    flex-direction: column;
  }

  .home-section-title{
    margin: 20px 0px;
  }

  .yatra-row{
    margin: auto;
  }

  .youth-cards {
    flex-direction: column;
    padding: 0px 0px;
  }
  .card {
    width: 100%;
  }
  .slider-section {
    width: 100%;
    height: 35vh;
  }

}
