main {
  background-color: #f7f9fc;
  /* min-height:92vh ; */
  /* padding-top: 70px; */
}

.normal-page {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.full-width-page {
  margin: 0;
  max-width: none;
  padding: 0px;
}

/* ---------------------------
   📱 Mobile Responsive Tweaks
   --------------------------- */
@media (max-width: 768px) {
}

/* Extra small screens */
@media (max-width: 480px) {
  main , .normal-page , .full-width-page{
    padding: 0px;
  }
}
