main {
  background-color: "#f8f9fa";
  /* min-height:100vh ; */
  padding: 2rem 1rem;
}
/* ---------------------------
   📱 Mobile Responsive Tweaks
   --------------------------- */
@media (max-width: 768px) {
}

/* Extra small screens */
@media (max-width: 480px) {
  main {
    padding: 0px;
  }
}
